{% extends "base.html" %} {% block content %}
<div class="card" style="max-width: 420px; margin: auto">
  <h2 class="card-title">Redefinir senha</h2>
  <form method="post" class="form-card" data-turbo="false">
    <input
      type="password"
      name="password"
      placeholder="Nova senha (mín. 6)"
      required
    />
    <input
      type="password"
      name="confirmPassword"
      placeholder="Confirmar nova senha"
      required
    />
    <button class="button" style="margin-top: 12px">Salvar</button>
  </form>
</div>
{% endblock %}
